<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Login example</title>
</head>
<body>
    <h1>Register example</h1>
    <hr class="seperator-line">
    <div class="important-credentials">
        <form action="/register" method="POST" autocomplete="off">
            <input type="text" name="username" placeholder="Enter username" class="text-box box-1">
            <br>
            <input type="text" name="email" placeholder="Enter email" class="text-box box-2">
            <br>
            <input type="text" name="password" placeholder="Enter password (Not your real password for any of yuor accounts please)" class="text-box box-3">
            <br>
            <button type="submit" class="submit-button">Create account</button>
        </form>
    </div>
</body>
</html>